<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="hero-home">
        <div class="header-home">
            <h1>Online Banking Service</h1>
            <p>Secure, Fast, and Reliable Banking at Your Fingertips</p>
            <a href="{{ url_for('login') }}" class="btn">Login</a>
        </div>
    </div>

</body>
</html>
